<h1 class="text-center"><%= "Upraviť Faktúru" %></h1>

<%= render "form", invoice: @invoice %>

<br>

<div class="w-75 mx-auto">
  <%= link_to "Späť", user_path(current_user), class:"btn btn-outline-light me-2" %>
</div>