<h1 class="text-center"><%= "Vytvoriť Faktúru" %></h1>

<%= render "form", invoice: @invoice %>

<br>

<div class="w-75 mx-auto">
  <%= link_to "Späť", invoices_path, class:"btn btn-outline-light me-2" %>
</div>