<p>Ahoj <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Kontaktujeme ťa, aby sme ťa upozornili, že tvoj e-mail sa mení na <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Kontaktujeme ťa, aby sme ťa upozornili, že tvoj e-mail bol zmenený na <%= @resource.email %>.</p>
<% end %>
