<p>Ahoj <%= @resource.email %>!</p>

<p>Niekto si vyžiadal odkaz na zmenu tvojho hesla. Ak si to bol ty, môžeš tak urobiť prostredníctvom odkazu nižšie.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ak si oň nepožiadal, ignoruj tento e-mail.</p>
<p>Tvoje heslo sa nezmení, kým neklikneš na vyššie uvedený odkaz a nevytvoríš si nové.</p>
