<p>Ahoj <%= @resource.email %>!</p>

<p>Tvoj účet bol zablokovaný z dôvodu nadmerného počtu neúspešných pokusov o prihlásenie.</p>

<p>Kliknutím na odkaz nižšie odomknete svoj účet: </p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
